<div class="post-item">
    <div class="post-img">
        <img src="<%- image %>" alt="post img">
    </div>
    <div class="post-description">
        <div class="post-title-container">
            <h1 class="post-title">
                <%= postTitle %>
            </h1>
            
            <div class="post-title-btns">
                <a onclick="deletePost('<%= _id %>', '<%= author %>')" class="delete-btn">Delete</a>
                <a href="/edit/<%=_id %>" class="edit-btn">Edit</a>
            </div>
        </div>
        <p>
            <%= postDescription %>
        </p>
    </div>
    <div class="post-user-actions">
        <div>
            <img src="/image/icons/date.svg" alt="date">
            <div class="curren-date">
                02.11.2024
            </div>
        </div>
        <div>
            <img src="/image/icons/visibility.svg" alt="">
            <div>
                21
            </div>
        </div>
        <div>
            <img src="/image/icons/message.svg" alt="">
            <div>
                4
            </div>
        </div>
        <div>
            <img src="/image/icons/forums.svg" alt="">
            <div>
                <%= postCategory %>
            </div>
        </div>
        <div>
            <img src="/image/icons/person.svg" alt="">
            <div>
                <%= author %>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/deletePost.js"></script>
</div>
