<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Admin Profile'}) %>
<body>
    <div class="base-width profile-page">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="profile-container main-container">
            <div class="post-container">
                <div class="profile-pge-header sections-header">
                    <h1 class="">Мои блоги</h1> 
                    <a href="">
                        <a href="/new">
                            <button class="new-blog-btn">
                                Новый блог
                            </button>
                        </a>
                    </a>
                </div>
                <div class="posts-list">
                    <% posts.forEach(post => { %>
                        <%- include('./partials/postItem.ejs', {
                            image: post.image, 
                            postTitle: post.postTitle, 
                            postDescription: post.postDescription, 
                            postCategory: post.postCategory.categoryTitle, 
                            author: post.author.full_name,
                            _id: post._id}) 
                        %>
                    <% }) %>
                </div>
            </div>
            <div class="side-bar">
                <div class="user-info">
                    <%- include('./partials/userLogo.ejs', {image: '/image/user-photo/user-logo.png'}) %>
                    <h3 class="user-name"><%= user.full_name %></h3>
                    <p class="about-user">В основном пишу про веб - разработку, на React & Redux</p>
                    <p class="post-item-count">285 постов за все время</p>
                    <% if(loginUser.id === user.id) { %>
                        <a class="edit-btn">Редактировать</a>
                        <a href="/api/signout" class="ext-btn">Выход</a>
                    <% } else { %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/deletePost.js" defer></script> -->
</body>
</html>